description: run_paragraph_level_BERT

environment:
  image: 124.16.138.141/lizhuoqun/transformers:v3
  environment_variables:
    - DET_TASK_OWNER=lizhuoqun

bind_mounts:
  # Data Folder Bind Mount
  - host_path: /shared_home/lizhuoqun/SE_type_code/data
    container_path: /run/determined/workdir/data

  # pre_trian Folder Bind Mount
  - host_path: /shared_home/lizhuoqun/SE_type_code/pre_train
    container_path: /run/determined/workdir/pre_train

  # Output Folder Bind Mount
  - host_path: /shared_home/lizhuoqun/SE_type_code/output
    container_path: /run/determined/workdir/output

  # resource Folder Bind Mount
  - host_path: /shared_home/lizhuoqun/SE_type_code/resource
    container_path: /run/determined/workdir/resource

  # stanford-corenlp-4.3.2 Folder Bind Mount
  - host_path: /shared_home/lizhuoqun/stanford-corenlp-4.3.2
    container_path: /run/determined/workdir/stanford-corenlp-4.3.1

resources:
  slots: 1
  resource_pool: A100-40G
